.bookmark-div{
  border: solid darkblue 1px;
  text-align: center;
  width: 75%;
  margin: 10px auto;
}

.bookmark-title{
  background-color: lightblue;
  text-align: left;
  padding: 0 10px;
}

.edit-button{
  float: right;
}

.delete-button{
  float: right;
}